<div class="container">
  <h1 class="header">Passwor Generator</h1>
  <div class="field">
    <div class="control">
      <label class="label" for="">Enter Password Length</label>
      <input class="text" type="text" (input)="enterLength($event.target.value)">
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input (change)="onChangeNumber()" type="checkbox">
          Add Number </label>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeLetter()" type="checkbox">
            Add Number </label>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeSymbol()" type="checkbox">
              Add Number </label>
          </div>

          <div class="control">
            <button class="button is-link" [disabled]="!(length && (selectLetter || selectNumber || selectSymbol))"
              (click)="onGenerate()">Generate</button>
              <br>

            <h1>{{password}}</h1>
          </div>


        </div>


      </div>
