<div>

  <h1>Passwor Generator</h1>
  <div>
    
      <div>
        <label for="">Enter Password Length</label>
        <input type="text" (input)="enterLength($event.target.value)">
      </div>
      <div>
        <label for="">Add Number</label>
        <input type="checkbox" (change)="onChangeNumber()">
      </div>
      <div>
        <label for="">Add Letter</label>
        <input type="checkbox" (change)="onChangeLetter()">
      </div>
      <div>
        <label for="">Add Symbol</label>
        <input type="checkbox" (change)="onChangeSymbol()">
      </div>
      <div>
        <button [disabled]="!(length && (selectLetter || selectNumber || selectSymbol))" (click)="onGenerate()">Generate</button>
        <br>
        <input [value]="password" type="text">
      </div>

  </div>
















</div>
